
.text-title{
    margin-bottom: 50px;
}
.text-data-car {
    position: absolute;
    color: #fff;
    text-shadow: 2px 2px 8px #232323;
}
.owner {
    left: 16px;
    bottom: 16px;
    font-size: 22px;
}
 .registration-number {
    left: 16px;
    top: 16px;
}
mat-card {
    padding-bottom: 0px;
    margin-bottom: 10%;
}

mat-card img {
    margin-bottom: 0px;
    max-height: 180px;
}

.example-card {
    max-height: 180px;
}
.row-btn-toggle{
    margin: 30px 0px;
}